<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.fantasyworldT">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>




    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DesignDemo">
        <activity android:name="in.co.fantasyworldT.extra.SplashScreenActivity">

        </activity>
        <activity android:name="in.co.fantasyworldT.matches.MainAcitvity">


        </activity>
        <activity android:name="in.co.fantasyworldT.contests.ContestsAction">

        </activity>
        <activity android:name="in.co.fantasyworldT.login.LoginAction">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="in.co.fantasyworldT.login.SignupAction">

        </activity>
        <activity android:name="in.co.fantasyworldT.leaderboard.LeaderBoard">

        </activity>
        <activity android:name="in.co.fantasyworldT.payments.Payment">

        </activity>
        <activity android:name="in.co.fantasyworldT.payments.WalletActivity">

        </activity>
        <activity android:name="in.co.fantasyworldT.teamselection.TeamSelection">

        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="20ccd81e8c6d4bc5171a8bf0dae5b93b3ac1ab37" />
    </application>

</manifest>